.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin: 30px;
  padding: 20px;
  min-height: 400px;
  min-width: 100px;
  background-color: rgb(255, 255, 255);
}

.product__info {
  margin-bottom: 30px;
}

.product__rating {
  display: flex;
  color: #e7711b;
  font-size: 20px;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: rgb(255, 166, 0);
  border: 1px solid;
  border-color: #e7711b #ad5516 #532a0d;
  color: #000;
}
